@import url("../../variables.css");

/* ------------------
LOGIN FORM
--------------------*/

.form-container {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-container form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alert {
  color: var(--purple-primary);
}
