@import url("../../variables.css");

/* ------------------
FOOTER
--------------------*/
.footer-main {
  height: 100%;
  /* background-color: var(--orange-primary); */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-family: inherit;
}
.socials-logo {
  height: 50px;
  margin-left: 10px;
}
